@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View Lab 10 <a asp-page="/lab10">here</a>. or append <code>/5lab10</code> to the URL</p>
</div>
