@page
@model lab10Model
@{
    ViewData["Title"] = "lab10";
}
<h1>Lab 10</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <p>Shut up baby, I know it.</p>
        <form method="POST">
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
    <div class="col-lg-9">
        <img src="images/bender.png" max-width="300" height="300">
    </div>
</div>
<div class="row">
    <div class="col-sm-2 border">Let's</div>
    <div class="col-sm-6 border">Go</div>
    <div class="col-sm-4 border">ALREADY!!!!</div>
</div>